* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    background-color: white;
    text-align: center;
}

h1{
    font-size: 60px;
    color: black;
    text-decoration: underline;
    text-align: center;
    text-shadow: -5px 5px 2px #ccc;
    margin-top: 30px;
}

.container {
    width: 600px;
    margin: 40px auto;
    border: 8px solid #ccc;
    border-radius: 10px;
    overflow: auto;
}

.container .jumbo {
    width: 600px;
}


.kecil {
    width: 200px;
    float: left;
    border: 0.3px solid black;
    box-sizing: border-box;
}

.kecil:hover {
    opacity: 0.3;
    cursor: pointer;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.active {
    opacity: 0.25;
}